/* Add CSS styling here */



*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    max-width: 100%;
}
/* General Styling*/

a {
    text-decoration: none;
}

body {
    font-family: 'Indie Flower';
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 3em;
    text-transform: capitalize;
    padding: 1%;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
}

.top {
    padding: 1%;
}

.nav {
    font-size: 1.5em;
    width: auto;
    border: #333;
    padding: 1px;
    
    
}

.home {
    padding: .5%;
    background: #333;
    color: aliceblue;
    border: 2px white;
    
}

.home:hover {
    background: white;
    color: #333;
}

.about {
    padding: 1%;
}

.contact {
    padding: 1.5%;
}

.project {
    padding: 1.5%;
}



.paragraph {
    margin: auto;
    width: 80%;
    padding: 1.2em;
    font-size: 1.5em;  
}


.bigimage {
    width:100;
    border: 8px solid #555;
    border-style: dotted;
    height: auto;
}

